/target/
/bin/

.classpath
.project
.settings/

.rebel/

*.log
*.bak
pom.xml.tag
pom.xml.versions
pom.xml.resolve
dependency-reduced-pom.xml
build/

*.iml
.idea/
.vscode/

/uploads/